<div class="container-fluid">
  <div class="row py-3 d-flex justify-content-center">

    <div class="col-sm-10 col-md-8 col-lg-6 d-flex mb-3">
      <div class="card" style="width:100%;">
        <div class="card-img-top"
             style="background-size:cover; background-position:center center; background-image:url('<%= car.cover %>'); height:200px;">
          <img class="img-fluid" src="<%= car.cover %>" alt="Card image cap" style="opacity:0;pointer-events:none;max-height:400px;overflow:hidden;">
        </div>
        <div class="card-body">
          <h1 class="card-title"><%= car.brand ? car.brand.name : '' %> <%= car.model || '' %> (<%= car.year || '' %>)</h1>
          <h3 class="card-subtitle mb-2 text-muted">
            <%= car.doorConfiguration || '' %>
          </h3>
          <p class="card-text">
            <h5>Available: <%- car.available ? '<span class="text-success">Yes</span>' : 'No' %></h5>
            <h5>Daily rate: <%= numeral(car.dailyRate).format('$0,0.00') %></h5>
            <h5>Extras</h5>
            <ul>
              <% _.each(car.extras, function (extra, index) { %>
              <li><%= extra %></li>
              <% }) %>
            </ul>
            <h5>Brief</h5>
            <p><%= car.summary || '' %></p>
            <h5>History</h5>
            <p><%- car.history || '' %></p>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
