<div class="container-fluid">
  <div class="row py-3">

    <% _.each(cars, function (car, index) { %>
    <div class="col-sm-6 col-md-4 col-lg-3 d-flex mb-3">
      <div class="card" style="width:100%;">
        <div class="card-img-top"
             style="background-size:cover; background-position:center center; background-image:url('<%= car.thumbnail %>'); height:200px;">
          <img class="img-fluid" src="<%= car.thumbnail %>" alt="Card image cap" style="opacity:0;pointer-events:none;">
        </div>
        <div class="card-body d-flex flex-column">
          <h4 class="card-title"><%= car.model || '' %></h4>
          <h6 class="card-subtitle mb-2 text-muted"><%= car.brand ? car.brand.name : '' %></h6>
          <p class="card-text">
            <small><%= (car.summary || '').substring(0, 100) %>...</small>
            <br>
            <a href="/car/details?id=<%= car.id %>" class="text-secondary"><small>Read more</small></a>
          </p>
          <a href="/car/details?id=<%= car.id %>" class="btn btn-secondary mt-auto ml-auto">More details</a>
        </div>
      </div>
    </div>
    <% }); %>

  </div>
</div>

